header{
    // border: 2px solid red;
    padding-bottom: 17px;
    nav{
       display: flex;
       justify-content: space-between;
       padding: 15px 40px 0 40px;
    .elearn{
        display: flex;
        gap: 15px;
        align-items: center;
        h2{
            color: rgb(54, 54, 255);
            cursor: pointer;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }
    }
    ul{
        display: flex;
        gap: 20px;
        align-items: center;
        
        li{
            list-style: none;
            cursor: pointer;
            &:hover{
                color: rgb(87, 143, 248);
            }
        }
        button{
            width: 140px;
            height: 50px;
            background-color: rgb(115, 115, 255);
            color: white;
            border: 1px solid rgb(119, 119, 255);
            font-size: 20px;
        }
    }
    }
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.onemassive{
    background-image: url(./crosscampus2019.avif);
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    &::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: linear-gradient(rgb(14, 14, 80));
        opacity: 0.5;
    }
    .onebigchild{
        width: 700px;
        height: 300px;
        // border: 2px solid red;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 60px;
        flex-direction: column;
        display: flex;
        justify-content: space-around;
        z-index: 11;
        h4{
            color: rgb(255, 255, 255);
            font-size: 20px;
            z-index: 11;
        }
        h2{
            font-size: 50px;
            text-transform: capitalize;
            color: rgb(236, 255, 25);
            
        }
        p{
            font-size: 20px;
            color: white;
        }
        button{
            width: 100px;
            height: 44px;
            background-color: aqua;
            border-radius: 8px;
            // cursor: pointer;
            font-size: 15px;
           
        }
    }
}
article{
    width: 80%;
    height: 300px;
    // border: 2px solid red;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    .minicard{
        height: 100%;
        background-color: rgb(177, 210, 223);
        transition: 0.4s;
        flex-direction: column;
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: center;
        p{
            text-align: center;
        }
        h4{
            font-size: 20px;
        }
        &:hover{
            transform: translateY(-20px);
            color: rgb(0, 0, 0);
            background-color: aqua;
        }
    }
}
.welcome{
    width: 80%;
    margin: 50px auto;
    // border: 2px solid red;
    height: 400px;
    display: flex;
    justify-content: space-between;
    .leftside{
        width: 48%;
        height: 100%;
        // border: 2px solid black;
    }
    .rightside{
        width: 48%;
        height: 100%;
        // border: 2px solid black;
        flex-direction: column;
        display: flex;
        justify-content: space-around;
        h3{
            font-size: 34px;
        }
        .pe{
            color: rgb(24, 82, 255); position: relative;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            &::after{
                position: absolute;
                content: "";
                width: 70px;
                height: 2px;
                background-color: rgb(0, 47, 157);
                bottom: 0;
                left: 90px;
            }
        }
        .pi{
            font-size: 20px;
        }
        button{
            width: 200px;
            background-color: blue;
            height: 40px;
            color: white;
            border: none;
            border-radius: 10px;
        }
    }
}
.hope{
    width: 80%;
    margin: 30px auto;
    align-items: center;
    flex-direction: column;
    display: flex;
    gap: 10px;
    .hope__texts{
        
        h4{
            font-size: 30px;
            font-weight: normal;
        }
        p{
            color: rgb(0, 57, 227);
            font-weight: bolder;
            position: relative;
            margin-left: 60px;
            font-size: 20px;
            &::after{
                content: "";
                width: 50px;
                height: 2px;
                position: absolute;
                background-color: blue;
                left: -60px;
                top: 50%;
                transform: translateY(-50%);
            }
            &::before{
                content: "";
                position: absolute;
                width: 50px;
                height: 2px;
                background-color: blue;
                left: 140px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
    .giantchild{
        width: 100%;
        height: 500px;
        // border: 2px solid black;
        display: flex;
        justify-content: space-between;
        .bigson{
            width: 60%;
            height: 100%;
            // border: 2px solid red;
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            .webdesign{
                width: 100%;
                height: 240px;
                // border: 3px solid black;
                background-image: url(./cat-1.jpg);
                background-size: cover;
                display: flex;
                justify-content: end;
                align-items: end;
               .spanchik{
                width: 150px;
                height: 55px;
                background-color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                p{
                    color: blue;
                }
                h4{
                    // font-weight: 400;
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                }
               }
            }
            .graphic{
                width: 48%;
                height: 240px;
                // border: 3px solid aqua;
                margin-left: 3px;
                background-image: url(./cat-3.jpg);
                background-size: cover;
                display: flex;
                justify-content: end;
                align-items: end;
                overflow: hidden;
                
                .spanchik{
                width: 150px;
                height: 55px;
                background-color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                p{
                    color: blue;
                }
                h4{
 
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                }
               }
            }
        }
        .smallson{
            width: 38%;
            height: 100%;
            // border: 2px solid blueviolet;
            background-image: url(./cat-4.jpg);
            background-size: cover;
            display: flex;
            justify-content: end;
            align-items: end;
            .spanchik{
                width: 150px;
                height: 55px;
                background-color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                p{
                    color: blue;
                }
                h4{
 
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                }
               }
        }
    }
}
.thenewone{
    width: 80%;
    margin: 50px auto;
    flex-direction: column;
    display: flex;
    gap: 20px;
    align-items: center;
    .textsvia{
        
        p{
            color: blue;
            font-weight: bolder;
            position: relative;
            text-align: center;
            &::after{
               content: "";
                position: absolute;
                width: 50px;
                height: 2px;
                background-color: blue;
                left: 20px;
                top: 50%;
                transform: translateY(-50%); 
            }
            &::before{
                content: "";
                width: 50px;
                height: 2px;
                position: absolute;
                background-color: blue;
                left: 180px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        h4{
            font-size: 35px;
        }
    }
    .grid__container{
        width: 100%;
        height: 400px;
        // border: 2px solid red;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 23px;
        .griduse{
            height: 100%;
            // border: 2px solid black;
            .image__holder{
                width: 100%;
                height: 50%;
                // border: 2px solid blueviolet;
                position: relative;
                overflow: hidden;
                img{
                    transition: 0.4s;
                    &:hover{
                        transform: scale(1.1);
                    }
                }
                .span2{
                    position: absolute;
                    bottom: 14px;
                    left: 50%;
                    transform: translateX(-50%);
                    background-color: rgb(72, 72, 238);
                    display: flex;
                    gap: 15px;
                    color: white;
                    height: 30px;
                    border-radius: 6px;
                    align-items: center;
                    padding: 0 8px 0 8px;
                }
            }
            .data__holder{
                width: 100%;
                height: 50%;
                // border: 2px solid blueviolet;
                flex-direction: column;
                display: flex;
                justify-content: space-between;
                padding-top: 24px;
                padding-bottom: 20px;
               .money__container{
                    flex-direction: column;
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    h5{
                        font-size: 20px;
                        text-align: center;
                    }
                    .stars{
                        display: flex;
                        // gap: 2px;
                    }
                }
                .user__container{
                    width: 100%;
                    height: 40px;
                    border: 1px solid grey;
                    display: flex;
                    justify-content: space-between;
                    
                    .child1{
                        width: 33%;
                        border: 1px solid grey;
                        height: 100%;
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                    }
                }
            }
        }
    }
}
.fortoday{
    width: 80%;
    margin: 80px auto;
    flex-direction: column;
    align-items: center;
    display: flex;
    gap: 30px;
    .instructor{
        p{
            color: blue;
            position: relative;
            text-align: center;
            &::after{
               content: "";
                position: absolute;
                width: 50px;
                height: 2px;
                background-color: blue;
                left: 185px;
                top: 50%;
                transform: translateY(-50%); 
            }
            &::before{
                content: "";
                width: 50px;
                height: 2px;
                position: absolute;
                background-color: blue;
                left: 7px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        h5{
            font-size: 30px;
        }
    }
    .ultragrid{
        width: 100%;
        height: 420px;
        // border: 2px solid red;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        .mega{
            .name{
                position: relative;
                .Ps{
                    font-weight: bolder;
                    font-size: 23px;
                    position: absolute;
                    top: 40px;
                    left: 40px;
                    
                }
                .pps{
                    position: absolute;
                    top: 66px;
                    left: 95px;
                }
                .mega__logos{
                    background-color: rgb(255, 255, 255);
                    width: 100px; border: 1px solid rgb(89, 88, 88);
                    position: absolute;
                    top: -20px;
                    left: 50%;
                    transform: translateX(-50%);
                    padding-top: 3px;
                }
            }
            height: 100%;
            // border: 2px solid black;
            .mega__img{
                background-image: linear-gradient(rgb(32, 32, 32), white, white);
                &:hover img{
                    transform: scale(1.1);
                }
                overflow: hidden;
                img{
                    transition: 0.4s;
                }
            }
        }
    }
}